{% extends "base.html" %}

{% block main %}
    <div class="contact-class">
    <h2 id="contact-title">Contact Form</h3>
    <hr>
    <p id="contact-p">Fill in this form to contact the site owners.</p>

    <form method="POST" class="form-class" action="/process">

        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.name.label }}
            <div class="input">
                {{ form.name}}
            </div>
        </div>
        <div class="form-group">
            {{ form.email.label }}
            <div class="input">
                {{ form.email}}
            </div>    
        </div>
        <div class="form-group">
            {{ form.subject.label}}
            <div class="input">
                {{ form.subject}}
            </div>    
        </div>
        <div class="form-group">    
            {{ form.message.label}}
            <div class="input">
                {{ form.message}}
            </div>    
        </div>

        <button type="submit" id="button" class="form-btn">Send</button>

    </form>
    </div>

{% endblock %}